<p> Hello!! Welcome to the Battleships game </p>

<p> Enter your name and click 'New Game'! </p>

<form action="/newgame"> <input type="text" name="name">
<input type="submit" value="New Game">

</form>

<!-- <button type="button" formaction = "/newgame">New game</button> -->
