<p> Hello!! Welcome to the Battleships game </p>

<p> Enter your name and click 'FUCK IT'! </p>

<form action="/registration" method='post'> <input type="text" name="name">
<input type="submit" value="New Game">

</form>
